<div class="container d-flex my-5">
  <aside>
    <h3>Filtry</h3>
    <div class="category">
      <h4>Kategorie</h4>
      <p type="button" id="T_SHIRT" (click)="handleChangeCategory($event)">T-Shirt</p>
      <p type="button" id="SHORT" (click)="handleChangeCategory($event)">Krótkie spodenki</p>
      <p type="button" id="SHIRT" (click)="handleChangeCategory($event)">Koszulki</p>
      <p type="button" id="HOODIE" (click)="handleChangeCategory($event)">Bluzy</p>
      <p type="button" id="JEANS" (click)="handleChangeCategory($event)">Jeans</p>
    </div>
    <div>
      <h4>Cena</h4>
      <mat-slider min="0" max="2000">
        <input value="{{minPrice}}" name="min" (input)="handleChangePrice($event)" matSliderStartThumb>
        <input value="{{maxPrice}}" matSliderEndThumb name="max" (input)="handleChangePrice($event)">
      </mat-slider>
      <p>{{minPrice}} - {{maxPrice}}</p>
    </div>
    <div>
      <h4>Kolory</h4>
      <div>

      </div>
    </div>
    <div>
      <h4>Rozmiary</h4>
      <div class="d-grid col-2 grid-template">
        <p class="size-item" id="XX-SMALL" type="button" (click)="handleChangeSize($event)">
          XXS
        </p>
        <p class="size-item" id="X-SMALL" type="button" (click)="handleChangeSize($event)">
          XS
        </p>
        <p class="size-item" id="SMALL" type="button" (click)="handleChangeSize($event)">
          S
        </p>
        <p class="size-item" id="MEDIUM" type="button" (click)="handleChangeSize($event)">
          M
        </p>
        <p class="size-item" id="LARGE" type="button" (click)="handleChangeSize($event)">
          L
        </p>
        <p class="size-item" id="X-LARGE" type="button" (click)="handleChangeSize($event)">
          XL
        </p>
        <p class="size-item" id="XX-LARGE" type="button" (click)="handleChangeSize($event)">
          XXL
        </p>
      </div>
    </div>
    <div>
      <h4>Styl</h4>
      <p type="button" id="CASUAL" (click)="handleChangeStyle($event)">Swobodny</p>
      <p type="button" id="FORMAL" (click)="handleChangeStyle($event)">Formalny</p>
      <p type="button" id="PARTY" (click)="handleChangeStyle($event)">Imprezowy</p>
      <p type="button" id="GYM" (click)="handleChangeStyle($event)">Fitnesowy</p>
    </div>
    <button class="apply-filer" type="button">Zastosuj filtry</button>
  </aside>
  <section>

  </section>
</div>
