<app-baner></app-baner>
<app-brand-slider></app-brand-slider>

<section class="text-center my-5">
  <h1>Nowe</h1>
  <div class="container">

  </div>
  <a routerLink="">Zobacz więcej</a>
</section>

<section class="text-center my-5">
  <h1>Popularne</h1>
  <div class="container d-flex">
    <div *ngFor="let product of popularProducts">
      <img src="/api/image/getByFilename/ + {{product.images[0]?.imageName}}" alt="product image">
      <h4>{{product.name}}</h4>
      <p>{{product.price}}</p>
    </div>
  </div>
  <a routerLink="">Zobacz więcej</a>
</section>
