<app-baner></app-baner>
<app-brand-slider></app-brand-slider>
<section class="text-center my-5">
  <h1 class="my-5 bolder">NOWE</h1>
  <div class="container d-flex justify-content-between gap-2">
    <div class="container d-flex justify-content-between gap-2 product-list">
      <app-product-card
        *ngFor="let product of newProducts"
        [imageName]="product.images[0].imageName"
        [name]="product.name"
        [price]="product.price"
      >
      </app-product-card>
    </div>
  </div>
  <a class="styled-link" routerLink="">Zobacz Więcej</a>
</section>
<section class="text-center my-5">
  <h1 class="my-5 bolder">POPULARNE</h1>
  <div class="container d-flex justify-content-between gap-2 product-list">
    <app-product-card
      *ngFor="let product of popularProducts"
      [imageName]="product.images[0].imageName"
      [name]="product.name"
      [price]="product.price"
    >
    </app-product-card>
  </div>
  <a class="styled-link" routerLink="">Zobacz Więcej</a>
</section>
<app-style-section></app-style-section>
