home-app{
  height: 100%;
  display: block;
}

.set-image{
  background-image: url("/assets/asset1.png");
  background-size: cover;
}

.set-border{
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 0 8px;
}

.styled-link{
  text-decoration: none;
  color: black;
}
