<div class="set-image d-flex flex-column justify-content-center">
  <div class="container">
    <h1 class="bolder">
      ZNAJDŹ ODZIEŻ, <br> KTÓRA PASUJE <br>DO TWOJEGO STYLU
    </h1>
    <p>
      Przejrzyj naszą różnorodną ofertę starannie wykonanej odzieży, zaprojektowanej tak, <br>
      aby podkreślić Twoją indywidualność i zaspokoić Twoje poczucie stylu.
    </p>
    <div class="w-50 d-flex gap-3 mt-5 text-center">
      <div >
        <h3>200+</h3>
        <p>Międzynarodowych marek</p>
      </div>
      <div class="set-border">
        <h3>2,000+</h3>
        <p>Wysoka Jakość Produktów</p>
      </div>
      <div>
        <h3>30,000+</h3>
        <p>Zadowolonych Klientów</p>
      </div>
    </div>
  </div>
</div>
