<footer>
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <h1>SHOP.PL</h1>
        <p>
          Mamy ubrania, które pasują <br>
          do Twojego stylu i które z dumą nosisz. <br>
          Od kobiet po mężczyzn.
        </p>
      </div>
      <app-footer-column title="FIRMA" [data]="['O nas', 'Nowości','Praca','Kariera']"></app-footer-column>
      <app-footer-column title="POMOC" [data]="['Obsługa Klienta', 'Szczegóły Dostawy','Warunki','Polityka Prywatności']"></app-footer-column>
      <app-footer-column title="FAQ" [data]="['Konto', 'Zarządzaj Przesyłkami','Zamówienia','Płatności']"></app-footer-column>
      <app-footer-column title="ZASOBY" [data]="['Darmowe e-Booki', 'Poradnik Rozwoju','Jak Zrobić - Blog','YouTube Playlist']"></app-footer-column>
    </div>
    <p>Shop.pl &copy; 2000-2024. Wszelkie prawa zastrzeżone</p>
  </div>
</footer>
